*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Gill Sans W04", GillSans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   
}
body{
    background: black;
}
.org li a{
    color: #c9aa71;
}




.stilo-main{
    height: 70vh;
    background-image: url(/Proyecto-Week-/images/background.jpg);
    background-color: black;
}

.img-hearder{
    height: auto;
    width: 100%;
    max-width: 250px;
}
     
.navegacion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container-main{
    width: 100%;
    float: none;
    background: #dedede;
    color: #333132;
    padding: 60px;
    clear: both;
    
    
}
.section-news{
    padding: 100px 30px 30px 30px;
}
.container-news{
    height: 50px;
    width: 70%;
    background-color: black;
    margin-top: 50px;
    padding: 5px 10px 5px 10px;
    color: #dedede
}
.loco{
    color: #dfe1e1;
    font-size: 2em;
    
    

}
.cuadricula{
    margin-top: 20px;
    width: 100%
}


.inputs-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inputs-style input{
    width: 33%;
    margin: 20px;
    color: #f0e6d2;
    text-align: center;
    margin: 40px 0px 0px 0px;      
    border-color: #c9aa71;
    background-color: #333132;
    padding: 5px;
}
.section-signup{
    background:url(/Proyecto-Week-/images/Diana_Splash_11.jpg) rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    z-index: 1;
    
    
}
.boton{
    background-color: #c9aa71;
    padding: 15px 50px 15px 50px;
    margin: 50px;
}
.signup-form{
    z-index: 10;
}
.back-main{
    background: url(/Proyecto-Week-/images/imagenlogin.jpg) rgba(0,0,0,0.7);
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cont-login{
    background-color: #000a13;     
    width: 33%;
    min-height: 80vh;
    margin-top: 200px;
    margin-bottom: 100px;
    border: solid 1px #c9aa71; 
    text-align: center;
    
}
.log-style input{
    width: 60%;
    margin: 20px;
    color: #f0e6d2;
    text-align: center;
    margin: 40px 0px 0px 0px;      
    border-color: #c9aa71;
    background-color: #333132;
    padding: 5px;

}
.lin-style{
    color: #c9aa71;
}
.under-style{
    text-decoration-line: underline;
   text-decoration-color: #dedede;
   text-underline-position: under;

}
.backChampions{
    background: url(/Proyecto-Week-/images/contenidochampions.jpg) rgba(0,0,0,0.7);
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-blend-mode: multiply; 
    

}
.cont-champions{
    padding-top: 70px;
    display: flex;
    justify-content: center;  
}
.cacatua1{
    width: 60%;
    padding: 15px;
    text-align: center;
    border: solid 2px #c9aa71; 
    background-color: #333132;
    color: #c9aa71;
    background: linear-gradient(to bottom, #2f2f2f 0%, #000000 100%);
    
}
.search-but{
    background-color: #151515;
    background: linear-gradient(to bottom, #2f2f2f 0%, #000000 100%);
    color: #c9aa71
}
.res-champions{
    color: #dedede;
    
    background: linear-gradient(to bottom, #c9aa71 0%, #151515 100%);
    width: 25%;
    margin: 50px auto;
    border: solid 4px #000a13;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    flex-direction: column;
        
}
.tipo{
    background-color: #000a13;
    color: #fff;
    border-radius: 5px;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 3px;

}
.text-cent{
    text-align: center;
}
.img-cham{
    margin:10px auto;
    
}
.back-faq{
    background: url(/Proyecto-Week-/images/faqsimage.jpg) rgba(0,0,0,0.7);
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-blend-mode: multiply; 
    

}
.errors-container{
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
}


.errors-container p{
    background-color: var(--red-color);
    padding: 20px;
    margin: 10px 0;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #bb0505;
}

.errors-container p.correct-message {
    background-color: rgb(47, 164, 93);
    box-shadow: 0 0 10px #dbf1c1;
}


  
  .container-faq {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: calc(100vw - 40px);
    min-height: calc(100vh - 40px);
    padding: 20px;
  }
  
  .accordion {
    width: 600px;
  }
  
  .accordion-item {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
  }
  .accordion-item__title {
    background: linear-gradient(to bottom, #c9aa71 0%, #151515 100%);;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px 25px;
    cursor: pointer;
    margin: 0;
    transition: 0.2s ease;
    font-size: 14px;
  }
  @media (min-width: 730px) {
    .accordion-item__title {
      font-size: 18px;
     
    }
  }
  .accordion-item__title:hover {
    
    background: #c9aa71;
    transition: 0.2s ease;
  }
  .accordion-item__content {
      
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.7em;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease;
    font-size: 14px;
  }
  @media (min-width: 730px) {
    .accordion-item__content {
      font-size: 16px;
    }
  }
  .accordion-item__content.is-open {
    max-height: 600px;
    transition: 0.5s ease;
  }
  .accordion-item__content-inside {
    padding: 15px 20px;
  }
  
@media (max-width: 550px){
    
    .cont-champions{
        width: 80%;
        margin: 30px auto;
    }
    .inputs-style input{
     width: 90%;
     
    }
    .log-style input{
        width: 90%;
    }
    .cont-login{
        width: 90%;
        padding-top: 50px;
    }
    .res-champions{
        width: 80%
    }
}

@media (max-width: 1000px) {
    .res-champions{
        width: 60%;
    }
}

@media (max-width: 768px) {
    .boton{
        margin: 30px auto;
    }
    .cacatua {
        order: -1;
    }
    .inputs-style input{
        width: 80%;
        
     }
     .log-style input{
        width: 70%;
    }
    .cont-login{
        width: 70%;
    }
    .res-champions{
        width: 80%
    }
    }

  