*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}
body{
    background: black;
}
.org li a{
    color: #c9aa71;
}




.stilo-main{
    height: 70vh;
    background-image: url(/Proyecto-Week-/starter-code/images/background.jpg);
    background-color: black;
}

.img-hearder{
    height: auto;
    width: 100%;
    max-width: 250px;
}
     
.navegacion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container-main{
    width: 100%;
    float: none;
    background: #dedede;
    color: #333132;
    padding: 60px;
    clear: both;
    
    
}
.section-news{
    padding: 100px 30px 30px 30px;
}
.container-news{
    height: 50px;
    width: 70%;
    background-color: black;
    margin-top: 50px;
    padding: 5px 10px 5px 10px;
    color: #dedede
}
.loco{
    color: #dfe1e1;
    font-size: 2em;
    
    

}
.cuadricula{
    margin-top: 20px;
    width: 100%
}


.inputs-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inputs-style input{
    width: 33%;
    margin: 20px;
    color: #f0e6d2;
    text-align: center;
    margin: 40px 0px 0px 0px;      
    border-color: #c9aa71;
    background-color: #333132;
    padding: 5px;
}
.section-signup{
    background:url(/Proyecto-Week-/starter-code/images/Diana_Splash_11.jpg) rgba(0,0,0,0.6);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    z-index: 1;
    
    
}
.boton{
    background-color: #c9aa71;
    padding: 15px 50px 15px 50px;
    margin: 50px;
}
.signup-form{
    z-index: 10;
}
.back-main{
    background: url(/Proyecto-Week-/starter-code/images/imagenlogin.jpg) rgba(0,0,0,0.7);
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cont-login{
    background-color: #000a13;     
    width: 33%;
    min-height: 80vh;
    margin-top: 200px;
    margin-bottom: 100px;
    border: solid 1px #c9aa71; 
    text-align: center;
    
}
.log-style input{
    width: 60%;
    margin: 20px;
    color: #f0e6d2;
    text-align: center;
    margin: 40px 0px 0px 0px;      
    border-color: #c9aa71;
    background-color: #333132;
    padding: 5px;

}
.lin-style{
    color: #c9aa71;
}
.under-style{
    text-decoration-line: underline;
   text-decoration-color: #dedede;
   text-underline-position: under;

}
.back-champions{
    background: url(/Proyecto-Week-/starter-code/images/imagenchampions.jpg) rgba(0,0,0,0.7);
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-blend-mode: multiply; 
    

}
.cont-champions{
    padding-top: 70px;
    display: flex;
    justify-content: center;  
}
.cacatua1{
    width: 60%;
    padding: 15px;
    text-align: center;
}
.res-champions{
    background-color: #c9aa71;
    width: 25%;
    height: 50vh;
    margin: 50px auto;
     
    
    


}
@media (max-width: 550px){
    .inputs-style input{
     width: 90%;
     
    }
    .log-style input{
        width: 90%;
    }
    .cont-login{
        width: 90%;
        padding-top: 50px;
       
    }
}



@media (max-width: 768px) {
    .cacatua {
        order: -1;
    }
    .inputs-style input{
        width: 80%;
        
       }
       .log-style input{
        width: 70%;
    }
    .cont-login{
        width: 70%;
    }
    
    }