html{
    margin: 0;
    padding: 0;
    background-color: black
}
.org li a{
    color: #c9aa71;
}

.nav-color{
    background-color: black;
    
    
}


.stilo-main{
    height: 70vh;
    background-image: url(/Proyecto-Week-/starter-code/images/background.jpg);
    background-color: black;
}

.img-hearder{
    height: auto;
    width: 100%;
    max-width: 250px
}
     
.navegacion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container-main{
    width: 100%;
    float: none;
    background: #dedede;
    color: #333132;
    padding: 60px;
    clear: both;
    
    
}
.section-news{
    padding: 100px 30px 30px 30px;
}
.container-news{
    height: 50px;
    width: 70%;
    background-color: black;
    margin-top: 50px;
    padding: 5px 10px 5px 10px;
    color: #dedede
}
.loco{
    color: #dfe1e1;
    font-size: 2em;
    
    

}
.cuadricula{
    margin-top: 20px;
    width: 100%
}


.inputs-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inputs-style input{
    width: 33%;
    margin: 20px;
    text-align: center;
    margin: 40px 0px 0px 0px;      
    border-color: #c9aa71;
    background-color: #333132;
    font: bold;
    padding: 5px;
}
.section-signup{
    background-image: url(/Proyecto-Week-/starter-code/images/Diana_Splash_11.jpg);
     height: 100%;
     width: 100%;
     background-repeat: no-repeat;
     background-color: black;
     background-size: cover;
    
    
}
@media (max-width: 550px){
    .inputs-style input{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-content: center;
     
    }
}



@media (max-width: 768px) {
    .cacatua {
        order: -1;
    }
    
    }
.boton{
    background-color: #c9aa71;
    padding: 15px 50px 15px 50px;
    margin: 50px;
}